{{ define "main" }}

<!-- $pages -->
{{ $pages := union .RegularPages .Sections }}
<!---->{{ if .IsHome }} {{ $pages = where site.RegularPages "Type" "post" }}
{{ end }}

<!-- Sort pages by date in descending order -->
{{ $pages := sort $pages "Date" "desc" }}

<h2 style = "font-size: 3rem; line-height: 2;">{{ .Title }}</h2>

<!-- Articles -->

<!-- Paginator -->
{{ $paginator := .Paginate $pages }}

<!-- Variable to keep track of the previous date -->
<!-- This is so we can display date headers on the linklog category -->
{{ $prevDate := "" }}

<!-- Loop through paginated pages -->
{{ range $index, $page := $paginator.Pages }}

<!-- Get the current page's date formatted as YYYY-MM-DD -->
  {{ $currDate := $page.Date.Format "2006-01-02" }}
 
<p class="archive-entry">

 {{ if in .Params.categories "Media diet" }}  

	{{/* Get the first sentence of the entry, up to the . using regex */}}
	{{ $first_sentence_array := findRE `^.*?[\.!\?](?:\s|$)` .Summary 1 }}

	{{/* That returns an array so get the first item of the array */}}
	{{ $first_sentence := index $first_sentence_array 0 }}

		<a href="{{ .Permalink }}" class="u-url"><span class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">{{ .Date.Format "2006-01-02" }}</span></a>:
   		<span class="p-summary">{{  $first_sentence | safeHTML }}</span>  	

      {{ else if in .Params.categories "Linklog" }}  

		<!-- If the current date is different from the previous date, display a date header -->
		{{ if ne $currDate $prevDate }}
			<h3>{{ $currDate }}</h3>
			<!-- Update the previous date -->
			{{ $prevDate = $currDate }}
		{{ end }}

      	<div class="post-content">{{ .Content }} </div>

      {{ else}}
  
  			<a href="{{ .Permalink }}" class="u-url"><span class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">{{ .Date.Format "2006-01-02" }}</span></a>:
  
			{{ if .Title }}			
				<span class="p-name">{{ .Title }}</span> 
			{{ else }}
				<span class="p-summary">{{ .Summary | truncate 100 }}</span>
			{{  end }}
  
  {{ end }}
  
  </p>
{{ end }}

		


<!-- Main Nav -->
{{ if gt $paginator.TotalPages 1 }}
<nav class="main-nav">
  {{ if $paginator.HasPrev }}
  <a class="prev" href="{{ $paginator.Prev.URL }}">← Prev Page</a>
  {{ end }}<!---->
  {{ if $paginator.HasNext }}
  <a class="next" href="{{ $paginator.Next.URL }}">Next Page →</a>
  {{ end }}
</nav>
{{ end }}<!---->

{{ end }}
