/* Place custom css here. */

@font-face {
font-family: atkinson_hyperlegible;
font-style: normal;
font-weight: normal;
font-stretch: normal;
src: url(‘fonts/Atkinson-Hyperlegible-Regular-102a.woff2’) format(‘woff2’);
}
